{% extends "frontend/base.html" %}
{% load static %}
{% block content %}
<div class="all-details-page">
    <div class="wrapper">
      <div class="blog-post">
        <div class="image">
          <div class="img" style="background-image: url({{program.image.url}})"></div>
        </div>
        <div class="details">
          <div class="name">
            {{program.title}}
          </div>
          <p class="desc">
            {{program.description|safe}}
          </p>
        </div>
      </div>

      <div class="recent-post">
        <div class="title">Recent Events</div>
        <div class="list">
        {% for item in recent_program %}
          <div class="item">
            <div class="recent-image">
              <div class="img" style="background-image: url({{item.image.url}})"></div>
            </div>
            <div class="name">
              <a href="{% url 'eventdetail' item.slug %}">
                {{item.title|truncatewords:6}}
              </a>
            </div>
          </div>
        {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endblock content %}